.jumbotron{
    padding: 15px!important;
}

#mp td.bg-primary{
    cursor: pointer;
}

.header-p{
    justify-content: space-between; 
    align-items: center; 
    flex-direction: row; 
    background-color: #063; 
    height: 90px; 
    padding: 0 30px!important;
}

table td{
    font-size: 13px; 
    text-align: center;
    padding: 5px;
}